html, body {
	height: 100%;
  	margin: 0;
	font-sixe: 1em;
}

h2 {
	font-size: 1.5em;
}
@-ms-viewport {
  width: device-width;
}

.jumbotron {
	height:350px;
	margin-bottom: 0;
	background-image: url(images/mapBG01.jpg);
	background-size: cover;
}
.jumbotron h1{
	color: #ffffff;
	background-color: #000000;
	opacity: 0.7;
}

@media screen and (min-width: 1000px) {
	.jumbotron{
		background-size: 100% 400px;
	}
}
@media screen and (max-width: 1000px) {
	.media-body{
		display: inline;
		margin-left: -30px;
	}
	#weatherFormat{
		font-size: 16px;
		display: inline;
		
	}
	#locationInfo{
		margin-left:-20px;
		display: inline;
	}
	#search{
		margin-left: 10px;
		width: 60%;
		float: left;

	}
	#submit{
		margin-top: -5px;	
	}
	.navbar-collapse.in {
    overflow-y: visible;
	}
}
@media screen and (min-width: 768px) {
	#search{
		width:200px;
		margin-right:-20px;
	}
	#submit{
		margin-top: 1px;
	}
}

@media screen and (max-width: 425px) {
	#submit{
		margin-bottom: 15px;
		margin-right: -35px;
	}
	#search{
		width: 50%;
	}
	#weatherFormat{
		font-size: 12px;
		display: inline;
		
	}
	#locationInfo{
		margin-left:-30px;
		display: inline;
	}
	.media-object.placePic{
		width:200px;
	}
}

.navbar-collapse.in {
    	overflow-y: visible;
}
.nav-tabs.nav-justified>li>a {
	font-size: 20px;map
}

a {
	color: #666;
	font-weight:500;
}

#map, #weatherDisplay, #newsDisplay, #buzzDisplay {
	font-size: 24px;
}

#map{
  height: 100%;
  margin: 0;
}

.placePic {
	width: 320px;
	height: 200px;
}

.text-smaller {
	font-size: .8em;
}
#sidebarButton{
		z-index: 1;
		position: fixed;
		float: left;
		border-radius: 35px;
		margin-right: 10px;
		border:none;
		opacity: .5;
		outline-style: none;

}
.sidebar.left{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background: #000000;
    z-index: 2;
    opacity: .9;
   };

.sidebar.left #sideHead{
	color: #FFFFFF;
	opacity: none;
}
#sidebarButtonClose{
		border-radius: 35px;
		margin-right: 10px;
		border:none;
		opacity: .5;
		outline-style: none;
		float: right;
		margin-top: 150px;
}